<h1 class='card-title text-center'>Modifier une offre</h1>
<%= simple_form_for [:caviste, @offer] do |f| %>
  <%= f.input :quantity %>
  <%= f.input :price, label: "Prix" %>
  <%= f.input :address, label: "Adresse" %>
  <%= f.input :delivery %>
  <%= f.input :url %>
  <%= f.input :photo, as: :file %>
  <%= f.association :wine %>
  
  <div class="card-body d-flex flex-column align-items-center gap-3">
    <%= f.submit "Mettre à jour", class: "btn btn-primary" %>
  </div>
<% end %>
