
<div class="container py-5">
  <div class="row">
    <div class="col">
      <div class="card-display h-100" style="background-image: url('<%= cl_image_path @offer.wine.wine_photo.key %>'); height: 430px; width: 500px; background-size: cover; background-position: center;">
      </div>
    </div>
    <div class="col">
      <div class="card card-show card-body d-flex flex-column gap-1 w-3">
        <h2 class="card-title-home text-center"> <%= @offer.wine.name%></h2>
        <div class="lign-center">
        </div>
        <div class="p-3">
          <div class="icon pb-2">
            <%= image_tag("livraison.png", class: "me-2") %>
            <%= (@offer.delivery - Date.today).to_i %> jours
          </div>
          <div class="icon pb-4">
            <%= image_tag("etiqueter.png", class: "me-2") %>
            <%= @offer.price %> €
          </div>
        <div class="icon pb-2">
          <%= image_tag("vin.png", class: "me-2") %>
          <%= @offer.quantity %> vins
        </div>
        <p class='pt-2 align-items-center'><a href="<%= @offer.url %>">Accéder à mon offre pour le vin </a></p>
        </div>
      <div class="text-center">
        <%= link_to "Modifier", edit_caviste_offer_path, class: 'btn btn-primary btn-show col-md-6' %>
        <%= link_to "Supprimer", caviste_offer_path(@offer), class: 'btn btn-primary btn-show col-md-6',  data: {turbo_method: :delete, turbo_confirm: "Êtes-vous sûr de vouloir supprimer cette offre ?" } %>
      </div>
    </div>
  </div>
</div>
