<!-- Ouverture porte - trouver mon vin -->
<div class="door" data-controller="display-none">
  <div class='door-left <%= "hide" if @hide%>' data-display-none-target="div">
    <div class="door-container" >
    </div>
  </div>
  <div class='door-right <%= "hide" if @hide%>' data-display-none-target="div">
    <div class="door-container" >
    </div>
  </div>
  <a class='btn btn-door mx-auto <%= "hide" if @hide%>' data-display-none-target="div" data-action="click->display-none#disable" >Trouver mon vin</a>
</div>

<!-- Début chatroom -->
<div class="chatroom_container">
  <div id="chatroom">
    <div id="messages">
      <!-- Loop through previous answers -->
      <% @previous_answers.each do |answer| %>
      <div class="chat-container">
        <img src="https://res.cloudinary.com/dpjincxmo/image/upload/v1693566676/wineCounselor_drhifh.png" class="avatar_question" alt="winecounselor">
        <div class="bubble_question">
          <div class="arrow"></div>
          <p class='text-black'><%= answer.associated_question.title %></p>
        </div>
        <div class="bubble_answer">
          <p class='text-black'><%= answer.option.full_sentence %></p>
        </div>
      </div>
      <% end %>

      <!-- Current question -->
      <div class="chat-container">
        <img src="https://res.cloudinary.com/dpjincxmo/image/upload/v1693566676/wineCounselor_drhifh.png" class="avatar_question" alt="winecounselor">
        <div class="bubble_question">
          <p class='text-black'><%= @current_question.title %></p>
        </div>
      </div>

      <%= simple_form_for [@chatroom, @answer], html: { class: 'd-flex, w-100' } do |f| %>
          <%= f.input :option,
                      as: :radio_buttons,
                      legend_tag: false,
                      input_html: { class: 'chatroom-input sr-only'},
                      wrapper_html: { class: 'd-flex justify-content-center gap-3'},
                      item_wrapper_class: 'chatroom-label',
                      collection: @current_question.options.map {|option| [option.full_sentence, option.id] } %>
          <%= f.submit "Valider mon choix", class: "btn-valid d-block mx-auto" %>
      <% end %>

    </div> <!-- Close the "messages" div -->
  </div> <!-- Close the "chatroom" div -->
</div> <!-- Close the "chatroom_container" div -->
</body>
