<!-- Ouverture porte - trouver mon vin -->

<div class='door <%= "hide" if @hide%>' data-controller="display-none" data-display-none-target="div">
  <div class="container" >
    <a class="btn btn-door" data-action="click->display-none#disable" >Trouver mon vin</a>
  </div>
</div>

<!-- Début chatroom -->
<div class="chatroom_container">
  <div id="chatroom">
    <div id="messages">
    <div class="avatar-bubble">
        <img src="https://pbs.twimg.com/profile_images/1323215724115087361/_uc8eShL_400x400.jpg" class="avatar" alt="Avatar">
      <div class="bubble_question">
        <p>Bonjour</p>
      </div>
      </div>
       <div class="avatar-bubble">
        <img src="https://pbs.twimg.com/profile_images/1323215724115087361/_uc8eShL_400x400.jpg" class="avatar" alt="Avatar">
          <div class="bubble_question">
            <p>
              Bienvenue dans l'univers du vin français guidé par la technologie - je suis le ChatBot Counselor. Expert dans le domaine, je suis là pour vous aider à choisir le vin parfait.
              Des vins de Bordeaux aux charmes de la Bourgogne, je possède une connaissance approfondie sur les vins français.
              Que vous soyez novice ou connaisseur, je vous guiderai vers des choix adaptés à vos goûts. Des accords mets-vins aux caractéristiques des régions, posez-moi vos questions et découvrez l'art du vin avec moi. 🍷
            </p>
      </div>
      </div>
       <div class="avatar-bubble">
      <img src="https://pbs.twimg.com/profile_images/1323215724115087361/_uc8eShL_400x400.jpg" class="avatar" alt="Avatar">

      <% @previous_answers.each do |answer| %>
      <div class="bubble_question">
          <p class='text-white'><%= answer.associated_question.title %></p>
      </div>

      <p class='text-white'><%= answer.option.full_sentence %></p>
      <% end %>

      <div class="bubble_question">
          <p class='text-white'><%= @current_question.title %></p>
      </div>

      <%= simple_form_for [@chatroom, @answer] do |f| %>
      <%= f.input :option,
                  as: :radio_buttons,
                  item_wrapper_class: 'text-white',
                  collection: @current_question.options.map {|option| [option.full_sentence, option.id] } %>
      <%= f.submit %>
      </div>
  </div>
<%end%>
