<!-- Ouverture porte - trouver mon vin -->
<div class="door" data-controller="display-none">
  <div class='door-left <%= "hide" if @hide%>' data-display-none-target="div">
    <div class="door-container" >
    </div>
  </div>
  <div class='door-right <%= "hide" if @hide%>' data-display-none-target="div">
    <div class="door-container" >
    </div>
  </div>
  <a class='btn btn-door mx-auto <%= "hide" if @hide%>' data-display-none-target="div" data-action="click->display-none#disable" >Trouver mon vin</a>
</div>

<!-- Début chatroom -->
<div class="chatroom_container">
  <div id="chatroom">
    <div id="messages">
    <div class="avatar-bubble">
        <img src="https://res.cloudinary.com/dpjincxmo/image/upload/v1693566676/wineCounselor_drhifh.png" class="avatar" alt="winecounselor">
      <div class="bubble_question">
        <p>Bonjour <%= current_user.first_name %></p>
      </div>
      </div>
       <div class="avatar-bubble">
        <img src="https://res.cloudinary.com/dpjincxmo/image/upload/v1693566676/wineCounselor_drhifh.png" class="avatar" alt="winecounselor">
          <div class="bubble_question">
            <p>
              Bienvenue dans l'univers du vin français guidé par la technologie - je suis votre conseiller en vin. Expert dans le domaine, je suis là pour vous aider à choisir le vin parfait.
              Des vins de Bordeaux aux charmes de la Bourgogne, je possède une connaissance approfondie sur les vins français.
              Que vous soyez novice ou connaisseur, je vous guiderai vers des choix adaptés à vos goûts. Des accords mets-vins aux caractéristiques des régions, posez-moi vos questions et découvrez l'art du vin avec moi. 🍷
            </p>
      </div>
      </div>
<div class="avatar-bubble">
        <img src="https://res.cloudinary.com/dpjincxmo/image/upload/v1693566676/wineCounselor_drhifh.png" class="avatar" alt="winecounselor">

  <% @previous_answers.each do |answer| %>
    <div class="bubble_question">
      <p class='text-black'><%= answer.associated_question.title %></p>
    </div>
    <div class="bubble_answer">
      <p class='text-black'><%= answer.option.full_sentence %></p>
    </div>
  <% end %>

  <div class="bubble_question">
    <p class='text-black'><%= @current_question.title %></p>
  </div>

  <div class="bubble_answer"> <!-- Ouvrez une nouvelle div pour la question actuelle et les options -->
    <%= simple_form_for [@chatroom, @answer] do |f| %>
      <%= f.input :option,
                  as: :radio_buttons,
                  item_wrapper_class: 'text-black',
                  collection: @current_question.options.map {|option| [option.full_sentence, option.id] } %>
      <%= f.submit %>
    </div> <!-- Fermez la div pour les options de la question actuelle -->
  </div>
  <%end%>
</div>
